[ ca ]
default_ca      = ca_own

[ ca_own ]
dir             = ./db
certs           = ./db
new_certs_dir   = ./db/ca.db.certs
database        = ./db/ca.db.index
serial          = ./db/ca.db.serial
RANDFILE        = ./db/ca.db.rand
certificate     = ./certificates/ca.crt
private_key     = ./certificates/ca.key
default_days    = 3000
default_crl_days   = 30
default_md      = sha256
preserve        = no
policy          = policy_anything

[ policy_anything ]
countryName             = optional
stateOrProvinceName     = optional
localityName            = optional
organizationName        = optional
organizationalUnitName  = optional
commonName              = supplied
emailAddress            = optional
